@model Library.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Add" class="btn btn-outline-info ml-auto" role="button">New Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                BookID
            </th>
            <th>
                ISBN
            </th>
            <th>
                Title
            </th>
            <th>
                Genre
            </th>
            <th>
                PublisherID
            </th>
            <th>
                Book Authors
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Authors.Count)
            </td>
            <td>
                <a asp-action="Borrow" asp-route-id="@item.BookID">Borrow</a> |
                <a asp-action="Edit" asp-route-id="@item.BookID">Edit</a> |
                <a asp-action="Remove" asp-route-id="@item.BookID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
